@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir.eot?#iefix') format('embedded-opentype'),  url('../fonts/Avenir.woff') format('woff'), url('../fonts/Avenir.ttf')  format('truetype'), url('../fonts/Avenir.svg#Avenir') format('svg');
  }

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Avenir';
    background-repeat: no-repeat;
    background-size: cover;
  
}


footer{
    width: 100%;
    background:#2180B2;
    color: #fff; 
    display: grid;
    place-items: center;
    padding: 0.313rem; 
    font-size: 1.2rem;
}
footer div div a{
    text-decoration: none;
    margin-left: 5px;
    margin-bottom: 8px;
}

body{
    min-height: 100vh;
}
.sticky-footer{
    position: sticky;
    top: 100%;
    /* margin: 50px; */
    padding: 30px;

}
/* .spa */

.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url("bg.png");
    background-size: cover;

}
.nav-link{
    margin-left: 40px;
}
.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
    margin-left: 33px;
}
.navbar-nav {
    margin-left: 508px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    right: 0;
}
.navbar {
    background: #33A0D9;

}
/* .nav-link { */
    /* display: block; */
    /* padding: 0.5rem 1rem; */
    /* font-weight: bold;
    color:white; */
    /* text-decoration: none;
    transition: color 0.15s ease-in-out 0s, background-color 0.15s ease-in-out 0s, border-color 0.15s ease-in-out 0s; */
/* } */

form{
    /* background-color: #ffffff; */
    width: 400px;
    padding: 20px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 5px;
    /* box-shadow: 20px 20px 30px rgba(0,0,0,0.15); */
}
form h1{
    text-align: left;
    font-family: 'Avenir';
    margin-bottom: 25px;
}
label{
    font-weight: 500;
    color: #101030;
}
input{
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 12px;
    border-radius: 1px;
    outline: none;
    color: #101010;
}
#password{
    margin-bottom: 30px;
}
input[type="password"]{
    border: 2px solid #c2c2c2;
}
input[type="button"]{
    background-color: #208be3;
    border: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 20px;
}
form p{
    font-size: 14px;
    margin: 15px 0;
    display: inline-block;
    color: red;
    padding: 4px;
    font-family: 'Avenir';
    text-align: center;
    font-style: italic;
}
h1{
  font-size: 27px;
  text-align: center;
  margin-bottom: 50px;
}
span{
    width: 481px;
    padding: 20px 40px;
    position: absolute;
    /* background-color: black; */
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    margin-top: -100px;
}
span h1{
    padding-right: 100px;
    font-family: 'Avenir';
   
}
span p{
    font-family: 'Avenir';
}
span button{
    width: 100%;
}
.active{
    color:black;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    text-align: center;
}
